<%- include('templates/loggedHeader') %>
<<<<<<< HEAD
<main>
  <form method="POST" action="/auth/logout">
    <button type="submit">Log out</button>
  </form>

</main>
  
<%- include('templates/loggedFooter') %>
=======
    <main>
        <form method="POST" action="/auth/logout">
            <button type="submit">Log out</button>
        </form>

    </main>

    <%- include('templates/loggedFooter') %>
>>>>>>> Tommy
