<<<<<<< HEAD
<%- include('templates/loggedHeader', {                
      headerLinks:  headerLinks
}) %>
<main>
    <h1>Map</h1>
    <div id="location-info">location info</div>
    <div id="map" style="height:400px;"></div>
</main>

<%- include('templates/loggedFooter', { footerScripts }) %>
=======
<%- include('templates/loggedHeader', { headerLinks: headerLinks }) %>
    <main>
        <h1>Map</h1>
        <div id="location-info">location info</div>
        <div id="map" style="height:400px;"></div>
    </main>

    <%- include('templates/loggedFooter', { footerScripts }) %>
>>>>>>> Tommy
