<%- include('templates/loggedHeader', { title: 'Notifications' }) %>
<main id="notif-page" class="notif-wrapper">
    <h1>Notifications</h1>
    <ul id="notif-list"></ul>
</main>
<%- include('templates/loggedFooter') %>

