<%- include('templates/loggedHeader') %>
<main>
    <section id="profile">
        <h1 id="username">Loading…</h1>
        <p><strong>Email:</strong> <span id="email"></span></p>
        <p><strong>Neighbourhood:</strong> <span id="neighbourhood"></span></p>
    </section>

    <section id="comments">
        <h2>My Comments</h2>
        <div id="comments-list">Loading comments…</div>
    </section>

    <section id="posts">
        <h2>My Posts</h2>
        <div id="posts-list">Loading posts…</div>

    </section>

    <script src="./scripts/profile.js" type="module"></script>
</main>
<%- include('templates/loggedFooter') %>
