@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Black.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

:root {
  --text-clr: #0D1209;
  --icon-clr: #0D1209;
  --blue-clr: #2023F6;
  --green-clr: #A3F279;
  --purple-clr: #D7D6F0;
  --background-clr: #F9F6F0;
  --btn-shadow: rgba(215, 214, 240, 0.5);
}

body {
  font-family: 'Satoshi', sans-serif;
  background-color: var(--background-clr);
  color: var(--text-clr);
}

h1, h2 {
  font-weight: bold;
}
